{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    </link>
    <title>Mój blog</title>
</head>

<body>
    <div class="wrapper">
        <h1>
            <a href="{% url 'articles:list' %}">
                <img src="{% static 'logo.png' %}" />
            </a>
        </h1>
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Wyloguj się</button>
                    </form> 
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>